{
  "$schema": "https://opencode.ai/config.json",
  "theme": "vesper",
  "permission": {
    "bash": {
      "git push": "ask",
    }
  },
  "lsp": {
    // i'm not a big fan of pyright
    "pyright": {
      "disabled": true
    },
    // Python type checking
    "ty": {
      "command": [
        "uvx",
        "ty",
        "server"
      ],
      "extensions": [
        ".py",
        ".pyi"
      ]
    },
    // Python linting
    "ruff": {
      "command": [
        "uvx",
        "ruff",
        "server",
        "--config",
        "{{ .chezmoi.homeDir }}/.tools/ruff.toml"
      ],
      "extensions": [
        ".py",
        ".pyi"
      ]
    }
  },
  "formatter": {
    // isort → fix → format
    "ruff": {
      "command": [
        "sh",
        "-c",
        "uvx ruff check --config {{ .chezmoi.homeDir }}/.tools/ruff.toml --fix --select I $FILE && uvx ruff check --config {{ .chezmoi.homeDir }}/.tools/ruff.toml --fix $FILE && uvx ruff format --config {{ .chezmoi.homeDir }}/.tools/ruff.toml $FILE"
      ],
      "extensions": [
        ".py",
        ".pyi"
      ]
    }
  }
}